/* App.css */

/* Default styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #212529;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  flex: 1;
  text-align: center;
  background-color: #212529; /* Set the background color for the entire body */
}

/* Rest of your existing styles */

/* Add the following to center the footer at the bottom */
.footer-container {
  margin-top: auto;
  font-family: Arial, sans-serif !important;
  padding: 20px;
  background-color: #212529;
  color: #000;
  text-align: center;
}

/* Responsive styles for screens smaller than 767px (typical mobile devices) */
@media (max-width: 767px) {
  .App-logo {
    height: 30vmin;
  }

  .App-header {
    min-height: 80vh;
  }

  .App {
    font-size: 14px;
    flex: 1;
  }
}
