.chat-body {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../src/chatbg.png');
  background-size: 40%;
  background-position: center;
}

.chat-container {
  display: flex;
  flex: 1;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  margin: 40px;
  max-width: calc(100% - 40px);
}

.chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #333842;
}
.msger-chat {
  flex-grow: 1;
  padding: 5px; 
  margin-top: 10%; 
  margin-bottom: 20px; 
  height: calc(100% - 40px); 
  min-width: 300px; 
  width: 100%; 
}




.msg {
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
}


.msger-inputarea {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
}

.msger-input, .msger-send-btn {
  margin: 10px;
  padding: 12px 10px;
  border-radius: 5px;
  
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.msger-input {
  flex-grow: 1;
  background: transparent;
  color: #ffffff;
  
}

.msger-send-btn {
  background-image: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
  color: #ffffff;
  cursor: pointer;
}

.msger-disconnect-btn {
  color: rgba(221, 31, 31, 0.8);
  cursor: pointer;
  font-size: 1vw;
  padding: 0.3vh 0.5vw;
}



.msger-send-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}



.right-msg .msg-bubble  {
  margin-left: auto;
  background: #21d4fd; 
  color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 70%; 
  word-wrap: break-word;
}

.left-msg .msg-bubble  {
  background: #b721ff; 
  color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 70%; 
  word-wrap: break-word;
  
} 

.msg-info-name {
  font-weight: bold;
  margin-right: 10px;
}

.msger-users {
  width: 250px; 
  background: #2f3136;
  color: #ffffff;
}
.msger-users {
  width: 250px; 
  background: #2f3136;
  color: #ffffff;
  overflow-y: auto !important; 
}

.msger-users h2 {
  padding: 20px;
  margin: 0;
  background: #5c5c5c; 
  text-align: center;
}

.msger-users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.msger-users li {
  padding: 5px 20px; /* Adjust margin between usernames */
  border-bottom: 1px solid #40444b; 
}

.msger-users button {
  background: #2860a0; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.msger-users button:hover {
  background: #b721ff; 
  color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: inset 8px 8px 8px #404e75, inset -8px -8px 8px #4b2961; 
}


@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
    height: calc(100vh - 40px); 
  }

  .msger-chat {
    height: 300px; 
    width: 70%; 
    min-width: 400px; 
  }

  .msger-users {
    width: 100%; 
    order: -1; 
  }
}

