table {
  border-collapse: collapse;
  overflow-y: auto;
  width: 100%;
}

th,
td {
  padding: 1vh 1vw;
  text-align: left;
}

th {
  font-weight: bold;
}

.c-media {
  display: flex;
  align-items: center;
}


th,
td {
  margin: 0;
}


th span {
  font-weight: normal;
}


#pagination-container {
  margin-left: 10%;
}


#leaderboard-body + tr > td > div {
  margin: 0;
  position: static;
}


#page {
  margin-right: 5%;
}
