@media (max-width: 767px) {
  .nav-items {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .nav-link {
    margin: 5px 0; 
    display: flex; 
    align-items: center; 
    color: #fff;
  }

  .nav-link > span {
    display: none; 
  }

  .nav-link > svg {
    margin-right: 5px; 
  }
}


@media (min-width: 768px) {
  .nav-link {
    justify-content: center; 
    color: #fff;
  }

  .nav-link > span {
    display: inline-block; 
    color: #fff;
  }
}

.pong-navbar {
  background-color: #212529 transparent;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 10px; 
}

.navbar-brand {
  font-size: 1.5rem;
  color: #d2d2d2;
  text-align: center; 
  margin: 10px 0; 
}

.nav-items {
  display: flex;
  align-items: center;
  
}

.language-container {
  display: flex;
  font-size: 5rem !important;
  align-items: center; 
  margin-left: 50%; 
  margin-right: 50%; 
  color: #000;
  
  
}

.nav-link {
  margin: 0 10px; 
  padding: 15px 10px;
  transition: background-color 0.3s ease;
  color: #fff;
}

.nav-link:hover {
  background-color: #343a40;
}
.nav-link-logout {
  margin: 0 10px; 
  padding: 15px 10px;
  transition: background-color 1s ease;
  color: #000000;
}

.nav-link-logout:hover {
  background-color: #343a40;
  color: #fff;
  margin: 0 10px; 
  
  transition: background-color 1s ease;
}
.language-button {
  margin-left: 10px;
}

.language-container select {
  margin-left: 10px; 
}


.nav-item {
  font-size: 0.6em !important; 
  color: #fff;
}

.bn {
  padding: 0.9em 1.6em;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 32px;
}

.bn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #07d888, #e40851, #2f00ff, #00ff37,
    #ec0808, #2600ff, #0bd157, #2f00ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
  opacity: 0;
}

.bn:hover::before,
.bn:focus::before { 
  opacity: 1;
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn::after {
  background: transparent;
}

.bn:active,
.bn.active { 
  color: #000;
  font-weight: bold;
}
