.container3d {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}


#gameCanvas3d {
    width: 950px; 
    height: 480px; 
    border: 5px solid #333; 
    border-radius: 10px; 
    background-color: #1a1a1a; 
}


#scoreboard3d {
    text-align: center;
    font-family: 'Segoe UI', 'Helvetica', 'Ubuntu', sans-serif;
    color: #fff; 
    margin-top: 20px; 
}


#scores3d {
    font-size: 4em; 
    padding: 10px; 
    margin: 0;
    color: #ffc107; 
}


#title3d {
    background-color: #ffc107; 
    color: #333; 
    padding: 5px; 
    font-size: 1.5em; 
    margin-bottom: 10px; 
    border-radius: 5px; 
}


#instructions3d {
    text-align: center;
    color: #fff; 
    font-family: 'Segoe UI', 'Helvetica', 'Ubuntu', sans-serif;
    margin-top: 10px; 
}


#instructions3d h3 {
    font-size: 1em; 
}
