.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #333841;
  overflow: auto;
  color: wheat;
  gap: 150px;
  font-size: large;
}

.category {
  text-align: center;
  animation: lights 2s linear infinite;
  border-bottom-style: solid;
  border-bottom-color: wheat;
  border-radius: 50px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: xx-large;
}

.friends, .achievments, .profile {
  flex: 1;
}
.friends{
  text-align: center;
}

.profile {
  text-align: center;
}


.friend-list {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 75vh;
  width: 100%;
}

.friend-list::-webkit-scrollbar {
  width: 5px;
}

.friend-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.friend-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px; 
}

#total-draw, #pong-lost, #ttt-lost, #rps-lost {
  margin-bottom: 30px;
}


.achievments ul {
  list-style-type: none;
  text-align: left;
}

li {
  margin-bottom: 30px;
}

.profile-info-section {
  padding: 10px;
  margin: 10px 0;
  background: #ffffff1a;
  border-radius: 10px;
  height: 90%; /* Adjust the height as needed */
  overflow-y: auto; 
}



.profile-pic {
  display: block; 
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.profile-input, .profile-button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 12px 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-input:hover, .profile-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.profile-button {
  background-image: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  width: 90%; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#deleteProfile {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 20px;
}

.profile-pic:hover {
  animation: zoom 0.1s linear forwards;
  transform-origin: center;
  box-shadow: 0 0 15px wheat, 
  0 0 25px wheat;
}

@keyframes zoom {
  0%   { transform: scale(1); }
  100% { transform: scale(1.1); }
}



@keyframes lights {
  0% {
    color: wheat;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: wheat;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: wheat;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: wheat;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: wheat;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
.achievments {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children elements horizontally */
  justify-content: center; /* Align children elements vertically */
  text-align: center; /* Align text content */
}

/* Optional: Adjust spacing between elements */
.achievments > * {
  margin-bottom: 10px; /* Adjust as needed */
}
.friends {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children elements horizontally */
  justify-content: center; /* Align children elements vertically */
  text-align: center; /* Align text content */
}

/* Optional: Adjust spacing between elements */
.friends > * {
  margin-bottom: 10px; /* Adjust as needed */
}
.game-history-container {
  display: none;  
  position: fixed; /* Change position to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  flex-direction: row; /* Change flex direction to row */
  color: #333333;
  max-height: 80vh; /* Limit height to 80% of viewport height */
  max-width: 80vw; /* Limit width to 80% of viewport width */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1000; /* Ensure it's above other elements */
}

.close-button {
  display: block; /* Ensure the close button is visible */
  position: absolute;
  color: #333333;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #555;
}

