.align-checkbox {
    display: flex;
    align-items: center;
}

.register-container {
    max-width: 350px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #000;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #111, -13px -13px 20px #333;
    text-align: left; 
}

.register-container h2 {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #ccc;
    margin-bottom: 20px;
}

.register-container form {
    padding-left: 10px;
}

.register-container label {
    color: #ccc;
    display: block;
    margin-bottom: 5px;
}

.register-container input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #999;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #111, inset -8px -8px 8px #333;
    margin-bottom: 20px;
}

.register-container input.is-invalid {
    border-color: #ff3d3d;
}

.register-container .form-check-label {
    display: flex;
    align-items: center;
    color: #ccc;
    margin-bottom: 20px;
}

.register-container .form-check-label input {
    margin-right: 10px;
}

.register-container .btn {
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #111, -3px -3px 3px #333;
    letter-spacing: 1.3px;
}

.register-container .btn:hover {
    background-color: #039BE5;
}

.register-container .btn-primary {
    background-color: #4CAF50;
}

.register-container .btn-primary:hover {
    background-color: #45a049;
}
