@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #333 !important;
    font-family: 'Press Start 2P' !important;
    min-height: 100%;
    right: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: antiquewhite;
    position: relative;
    height: 88vh;
}

header {
    background-color: rgba(33, 37, 41, 0.4);
    text-align: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 60px;
    border-radius: 50px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    color: #fff;
}

nav.active {
    display: block;
    transform: scaleY(1);
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

nav a:active {
    color: #000;
    font-weight: 500;
}

.nav-toggle:checked~nav {

    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;

    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {

        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2/3;
        color: #fff;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;

        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

.feedback-popup {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 300px;
    background-color: rgba(249, 249, 249, 0.3);
    border: 1px solid rgba(249, 249, 249, 0.3);
    border-radius: 5px;
    padding: 20px;
  }
  
  .feedback-content {
    display: flex;
    flex-direction: column;
  }
  
  .close {
    align-self: flex-end;
    cursor: pointer;
  }
  
  textarea {
    height: 100px;
    margin-bottom: 10px;
    background-color: rgba(249, 249, 249, 0.3);
  }
  