.viewprofile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

.viewprofile-title {
    text-align: center;
    font-weight: bold;
    color: #21d4fd;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 25px; /* Adjusted margin */
    font-size: 2rem;
    text-shadow: 0 0 10px #21d4fd;
}

.view-info-section {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.view-info-header {
    margin-top: 1;
}

.viewprofile-button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.viewprofile-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.viewprofile-button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.status-indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative; /* Position the indicator */
display: inline-block;
}

.online {
    background-color: green;
}

.offline {
    background-color: rgb(34, 29, 29);
}

.back-button-container {
    position: absolute;
    top: 30%; 
    left: 5%; 
  }
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .info-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message-container {
    color: red;
  }
  .game-history-container {
    display: none;  
    position: fixed; /* Change position to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    flex-direction: row; /* Change flex direction to row */
    color: #333333;
    max-height: 80vh; /* Limit height to 80% of viewport height */
    max-width: 80vw; /* Limit width to 80% of viewport width */
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 1000; /* Ensure it's above other elements */
}

.close-button {
    display: block; /* Ensure the close button is visible */
    position: absolute;
    color: #333333;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #555;
}



  @media only screen and (max-width: 600px) {
    .buttons {
        display: flex;
        flex-wrap: wrap; /* Allow buttons to wrap to the next line */
        justify-content: center; /* Center the buttons horizontally */
        gap: 5px; /* Add a small gap between buttons */
    }

    .viewprofile-button {
        flex: 0 0 calc(50% - 10px); /* Each button takes up 50% of the container width minus margin */
        margin: 5px; /* Add smaller margin around each button */
        padding: 8px 12px; /* Adjust padding for a more compact size */
    }
}

