/* Passt die Canvas-Größe dynamisch an und zentriert sie */
#canvasp3 {
    background-color: #9c4c2d; /* Dunkler Hintergrund für das Canvas */
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 70vw; /* Maximale Breite auf 80% des Viewport Width */
    min-width: 20vw;
    max-height: 70vh; /* Maximale Höhe auf 80% des Viewport Height */
    min-height: 20vw;
    width: auto; /* Auto-Breite für die Skalierung */
    height: auto; /* Auto-Höhe für die Skalierung */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Fügt einen leichten Schatten hinzu für bessere Sichtbarkeit */
}



#newGButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Stellt sicher, dass der Button zu Beginn nicht angezeigt wird */
}
