services:
  backend:
    container_name: backend
    restart: on-failure:5
    build:
      context: srcs/backend
      dockerfile: Dockerfile
    volumes:
      - ./srcs/backend:/usr/src/app/
      - ./srcs/media:/usr/src/app/media
    ports:
      - '8000:8000'
    env_file:
      - .env

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: on-failure:5
    volumes:
      - database-postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file:
      - .env

  nginx:
    container_name: nginx
    restart: on-failure:5
    build:
      context: ./srcs/nginx
      dockerfile: Dockerfile
    ports:
      - "8443:443"
    volumes:
      - ./srcs/frontend:/etc/frontend
      - ./srcs/media:/etc/frontend/media
    depends_on:
      - backend


volumes:
  database-postgres:

      
networks:
  transcendence:
    name: transcendence
    driver: bridge

