
.wrapperaboutus { 
	max-width: 1400px; 
	width: 100%; 
	margin: auto auto;
	padding-top: 100px;
} 

.wrapperaboutus .carouselaboutus { 
	display: grid; 
	grid-auto-flow: column; 
	grid-auto-columns: calc((100% / 4) - 12px);
	gap:20px;
	padding-left: 0px;
} 

.carouselaboutus .card { 
	height: 500px; 
	list-style: none; 
	background: #333; 
	border-radius: 8px; 
	display: flex; 
	cursor: pointer; 
	width: 100%; 
	padding-bottom: 15px; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column;
  	border-color: whitesmoke;
  	border-style: double;
} 

.card .img { 
	width: 200px; 
	height: 200px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .img img {
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	border-radius: 50%; 
	border: 6px double whitesmoke; 
} 

.card .img :hover{
	width: 150%; 
	height: 150%; 
	object-fit: cover; 
	border-radius: 100%; 
  	background-color: #333;
	border-color: black;
  	background: linear-gradient(
    45deg,
    #071cd8, #f5578b, #2f00ff, #00ff37,
      #ec0808, #2600ff, #ad47a8, #2f00ff)
} 

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .name {
	margin-top: 10px; /* Adjust as needed */
	text-align: center;
  }
  
  .icon-container {
	margin-top: 10px; /* Adjust as needed */
	display: flex;
	gap: 10px; /* Adjust as needed */
  }
  
  .icon {
	font-size: 24px;
	color: black;
  }

  @keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  h1 {
	animation: fadeIn 1s ease-out;
  }
  


@media screen and (max-width: 900px) { 
	.wrapperaboutus .carouselaboutus { 
		grid-auto-columns: calc((100% / 4) - 9px); 

	} 
} 

@media screen and (max-width: 600px) { 
	.wrapperaboutus .carouselaboutus { 
		grid-auto-columns: 100%; 

	} 
}
