@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Adjusted zoom in value */
  }
  100% {
    transform: scale(1.1); /* Adjusted less zoom out value */
  }
}

.welcome-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5vh; /* Adjusted gap for smaller screens */
  position: fixed;
  overflow: auto;
  background-image: url('../src/tt.jpg');
  background-size: cover;
  background-position: center;
  animation: zoomInOut 10s infinite alternate; /* Adjust duration and other parameters as needed */
}

.welcome-message {
  text-align: center;
  font-size: 4vh;
  animation: rainbow 8s infinite, fadeIn 1s ease-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjusted shadow for smaller screens */
  -webkit-text-stroke: 0.5px black; /* Adjusted stroke for smaller screens */
  color: rgba(255, 255, 255, 0.5); /* Adjust the last value (alpha) for transparency */
}

@keyframes rainbow {
  0%      { color: rgba(255, 0, 0, 0.5); } 
  16.67%  { color: rgba(255, 127, 0, 0.5); } 
  33.33%  { color: rgba(255, 255, 0, 0.5); } 
  50%     { color: rgba(0, 255, 0, 0.5); }
  66.67%  { color: rgba(0, 0, 255, 0.5); }
  83.33%  { color: rgba(75, 0, 130, 0.5); } 
  100%    { color: rgba(138, 43, 226, 0.5); } 
}

.ping-pong-ball {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: white;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(7vh);
  }
  to {
    transform: translateY(-43vh);
  }
}

.pong-table {
  width: 60%; /* Adjusted width for smaller screens */
  height: 40vh; /* Adjusted height for smaller screens using viewport height */
  max-width: 70vw; /* Set maximum width to 90% of the viewport width */
  max-height: 50vh; /* Set maximum height to 70% of the viewport height */
  background: rgba(34, 34, 34, 0.8); /* 50% transparent black */
  border: 1% solid #fff;
  border-style: dotted;
  position: relative;
  padding: 2% 0; /* Adjusted padding using percentage */
}

.paddle-left,
.paddle-right {
  width: 1.5vw; /* Adjusted width for smaller screens */
  height: 7vh; /* Adjusted height for smaller screens */
  background: #fff;
  position: absolute;
  top: calc(50% - 3.5vh); /* Adjusted top position for smaller screens */
}

.paddle-left {
  left: 2vw; /* Adjusted left position for smaller screens */
}

.paddle-right {
  right: 2vw; /* Adjusted right position for smaller screens */
}

@media screen and (max-width: 768px) {
  .welcome-page {
    gap: 3vh; /* Further reduced gap for smaller screens */
  }
  
  .pong-table {
    width: 90%; /* Adjust width for smaller screens */
    height: 70%; /* Adjust height for smaller screens */
    max-width: 90%; /* Adjust maximum width for smaller screens */
    max-height: 80%; /* Adjust maximum height for smaller screens */
  }
}
