.welcome-page {
  display: flex;
  flex-direction: column;
  height: 88vh;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-image: url('../src/bg.jpg');
  background-size: cover;
  background-position: center;
}

.welcome-message {
  text-align: center;
  font-size: 5vh;
  margin-top: 50px;
  animation: rainbow 8s infinite, fadeIn 1s ease-out;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
}

@keyframes rainbow {
  0%      { color: #ff0000; } /* Red */
  16.67%  { color: #ff7f00; } /* Orange */
  33.33%  { color: #ffff00; } /* Yellow */
  50%     { color: #00ff00; } /* Green */
  66.67%  { color: #0000ff; } /* Blue */
  83.33%  { color: #4b0082; } /* Indigo */
  100%    { color: #8a2be2; } /* Violet */
}

.ping-pong-ball {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: white;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(7vh);
  }
  to {
    transform: translateY(-43vh);
  }
}

.pong-table {
  width: 600px;
  height: 400px;
  background: rgba(34, 34, 34, 0.8); /* 50% transparent black */
  border: 5px solid #fff;
  border-style: dotted;
  position: relative;
  margin-top: 5%;
}

.paddle-left {
  width: 15px;
  height: 70px;
  background: #fff;
  position: absolute;
  left: 10px;
  top: calc(50% - 35px);
  animation: movePaddleLeft 2s infinite;
}

.paddle-right {
  width: 15px;
  height: 70px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: calc(50% - 35px);
  animation: movePaddleRight 2s infinite;
}

@keyframes movePaddleLeft {
  0%, 100% { top: calc(100% - 70px); }
  50% { top: 0; } 
}

@keyframes movePaddleRight {
  0%, 100% { top: 0; } 
  50% { top: calc(100% - 70px); } 
}
