.welcome-page {
  display: flex;
  flex-direction: column;
  height: 88vh;
  align-items: center;
  position: relative;
  /*border-style: solid;*/
  border-color: green;
  width: 100%;
  padding-top: 50px;
}

.welcome-message {
  text-align: center;
  font-size: 5dvh;
  margin-top: 50px;
}

.ping-pong-ball {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: white;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(7vh);
  }
  to {
    transform: translateY(-43vh);
  }
}

.pong-table {
  width: 600px;
  height: 400px;
  background: #222;
  border: 5px solid #fff;
  border-style: dotted;
  position: relative;
  margin-top: 5%;
}

.paddle-left {
  width: 15px;
  height: 70px;
  background: #fff;
  position: absolute;
  left: 10px;
  top: calc(50% - 35px);
  animation: movePaddleLeft 2s infinite;
}

.paddle-right {
  width: 15px;
  height: 70px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: calc(50% - 35px);
  animation: movePaddleRight 2s infinite;
}

@keyframes movePaddleLeft {
  0%, 100% { top: calc(100% - 70px); }
  50% { top: 0; } 
}

@keyframes movePaddleRight {
  0%, 100% { top: 0; } 
  50% { top: calc(100% - 70px); } 
}
