table {
  border-collapse: collapse;
  width: 100%;
  height: 90%;
  margin-top: 100px;
}

th{
  padding: 18px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.c-media {
  display: flex;
  align-items: center;
}


.c-media__title {
  font-weight: bold;
}
