.container3d {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

/* Styled game canvas */
#gameCanvas3d {
    width: 950px; /* Increased width */
    height: 480px; /* Increased height */
    border: 5px solid #333; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    background-color: #1a1a1a; /* Dark gray background */
}

/* Styled scoreboard */
#scoreboard3d {
    text-align: center;
    font-family: 'Segoe UI', 'Helvetica', 'Ubuntu', sans-serif;
    color: #fff; /* White text color */
    margin-top: 20px; /* Spacing above the scoreboard */
}

/* Styled scores */
#scores3d {
    font-size: 4em; /* Larger font size */
    padding: 10px; /* Increased padding */
    margin: 0;
    color: #ffc107; /* Yellow text color */
}

/* Styled title */
#title3d {
    background-color: #ffc107; /* Yellow background */
    color: #333; /* Dark text color */
    padding: 5px; /* Padding around the title */
    font-size: 1.5em; /* Larger font size */
    margin-bottom: 10px; /* Spacing below the title */
    border-radius: 5px; /* Rounded corners */
}

/* Instructions */
#instructions3d {
    text-align: center;
    color: #fff; /* White text color */
    font-family: 'Segoe UI', 'Helvetica', 'Ubuntu', sans-serif;
    margin-top: 10px; /* Spacing above the instructions */
}

/* Unique styling for instructions */
#instructions3d h3 {
    font-size: 1em; /* Font size for instructions */
}
