

#canvasremote2 {
    background-color: #333333; 
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 70vw; 
    min-width: 70vw;
    max-height: 70vh; 
    min-height: 15vw;
    width: auto; 
    height: auto; 
    box-shadow: 0 0 15px rgba(0,0,0,0.5); 
}


#newGameButtonremote2 {
    margin-top: 20px; 
}
