/* Zentriert den Canvas im Fenster */
#playerAiCanvas {
    display: block;
    margin: 10%;
    background-color: #2d17aa; /* Schwarzer Hintergrund */
}
/* Stil für das Spielende-Modal, das jetzt über dem Canvas positioniert wird */
#playerAiModal {
    display: none; /* Standardmäßig versteckt */
    position: absolute; /* Position relativ zum nächstgelegenen positionierten Vorfahren (in diesem Fall der Body oder der Container des Canvas) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Halbtransparenter Hintergrund */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 100; /* Stellt sicher, dass es über dem Canvas angezeigt wird */
}

#playerAiWinner {
    font-size: 24px;
    margin-bottom: 20px;
}

#newGameButton {
    display: inline-block; /* Damit der Button den Hover-Effekt korrekt anwendet */
    padding: 10px 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#newGameButton:hover {
    background-color: #0056b3;
}
