.profile-container {
  background: #333841;
  display: flex;
  width: 100%;
  bottom: 50px;
  top: 60px;
}

.category {
  text-align: center;
  font-size: 1.5vw;
  animation: lights 2s linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.friends, .achievments{
  flex: 1;
  text-align: center;
  /*border-style: double;
  border-color: red; */
}

.friends {

}

.achievments {
 
}

.profile {
  flex: 1;
  /*border-style: double;
  border-color: red;*/
  text-align: center;
}

.profile-pic {
  display: block; 
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profile-title, .profile-subtitle {
  text-align: center;
  font-weight: bold;
  color: #21d4fd;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profile-title {
  margin-top: 0;
  font-size: 1.5vw;
  text-shadow: 0 0 10px #21d4fd;
}

.profile-subtitle {
  font-size: 1.5vw;
}

.profile-input, .profile-button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 12px 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-input:hover, .profile-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.profile-button {
  background-image: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.profile-button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#deleteProfile {
  background-color: rgba(255, 0, 0, 0.6);
}

.avatar-preview img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(33, 212, 253, 0.4), 
              0 0 20px rgba(183, 33, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar-preview img:hover {
  transform: scale(1.25);
  box-shadow: 0 0 15px rgba(33, 212, 253, 0.6), 
              0 0 25px rgba(183, 33, 255, 0.6);
}

.profile-info-section, .email-info-section, .score-info-section {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.info-header {
  margin-top: 0;
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
    margin-top: 5px;
  }

  .profile-title {
    font-size: 1rem;
  }

  .profile-subtitle {
    font-size: 1rem;
  }
}
