/* Passt die Canvas-Größe dynamisch an und zentriert sie */
#canvasTic1 {
    background-color: #151a15; /* Dunkler Hintergrund für das Canvas */
    display: block; /* Stellt sicher, dass das Canvas zentriert werden kann */
    margin: 7% auto; /* Zentriert das Canvas vertikal und horizontal */
    max-width: 70vw; /* Maximale Breite auf 70% des Viewport Width */
    max-height: 70vh; /* Maximale Höhe auf 70% des Viewport Height */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Fügt einen leichten Schatten hinzu für bessere Sichtbarkeit */
}

#nGButton {
    position: fixed; /* Positioniert den Button absolut zum Viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Standardmäßig ist der Button nicht sichtbar */
}
