#canvasTic2 {
  display: block;
    margin: 7% auto; 
    max-width: 70vw; 
    max-height: 70vh; 
    box-shadow: 0 0 15px rgba(0,0,0,0.5); 
  }

#nNButton {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  color: #FFF;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
