<!-- About CONTENT HTML GOES HERE -->
<div class="grid" style="margin-top: 3rem">
    <section>
      <hgroup>
        <h2>Hi 👋, I'm Sreeharsh </h2>
        <h3>Fullstack Devloper</h3>
      </hgroup>
      <p>
       I design and develop web apps using MERN stack !
      </p>
      </p>
      <blockquote>
          If you are interested to join the community and learn new things, I am happy to have you on Twitter. 
          
            <a href="https://twitter.com/SreeharshR" class="tw-link" role="button">
           - @SreeharshR
            </a>
          
        </blockquote>
    </section>
  </div>
