<!-- 404 CONTENT HTML GOES HERE -->

<div class="login-form" style="margin-top: 3rem" id="container">
  <div class="wrapper">
    <div class="loader"></div>
    <br/><br/><br/>
    <button onclick="window.location.href = 'https://pong42.azurewebsites.net/api/signin42/'" id="signin-btn" class="rounded mb-4 bn" style="width: auto; min-width: 270px; margin: 0 auto; text-align: center;">
      <span class="bn mr-2">&#128100;</span>
      Sign In with 42
    </button>
    
    
    <br/><br/>
    <div class="or-separator mb-4">
      <span class="or-text">or</span>
    </div>
    <div class="text-center mt-4 name">Standard Login</div>
    <form id="login-form" class="p-3 mt-3" onsubmit="return false;">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input
          type="text"
          name="username"
          id="userName"
          placeholder="Username"
          value="user42"
        />
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input
          type="password"
          name="password"
          id="pwd"
          placeholder="Password"
          value="Pass@42"
        />
      </div>
      <button id="login-btn" class="bn btn mt-3" >
        Login
      </button>
    </form>
    <br/><hr /><br/><br/>
    <div class="text-center fs-6">
      <a href="/register" onclick="route()" class="bn w-1600">Register here</a><br/>
    </div>
    <br/>
    <div id="login-status" class="text-center mt-3"></div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("DOMContentLoaded event fired."); // Log to check if DOMContentLoaded event fires
    
    // Add event listener to login form
    const loginForm = document.getElementById("login-form");
    if (loginForm) {
      loginForm.addEventListener("submit", async (e) => {
        console.log("Form submission intercepted.");
        e.preventDefault(); // Prevent default form submission behavior
        
        const formData = new FormData(loginForm);
    
        try {
          const response = await fetch("https://pong42.azurewebsites.net/login/", {
            method: "POST",
            body: formData,
          });
        
          const data = await response.text();
          console.log("Login Response:", data); // Log response data
        
          // Handle response accordingly
          if (data.trim() === "Login successful") {
            // Redirect or perform any action on successful login
            window.location.href = "/leaderboard";
          } else {
            // Handle failed login
            console.error("Login failed:", data);
            // Display an error message or perform any other action
          }
        } catch (error) {
          console.error("Error logging in:", error);
          // Handle error
        }
        
        return false; // Prevent form submission
      });
    } else {
      console.error("Login form not found."); // Log error if login form is not found
    }
  });
  </script>
  