<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy - Transcendence</title>
  <style>
    container {
      font-family: Arial, sans-serif !important;
    }
  </style>
</head>

<body>
    <div class="container" style="margin-top: 3rem; font-family: Arial, sans-serif;">
        <hgroup>
          <h2>Privacy Policy</h2>
        </hgroup>
        <p>Your privacy is important to us. It is Transcendence's policy to respect your privacy regarding any information we may collect from you across our website.</p>
        <h3>Information We Collect</h3>
        <p>We only collect the personal information you provide to us. This may include:</p>
        <ul>
          <li>Username</li>
          <li>Email address</li>
          <li>Profile photo</li>
        </ul>
        <h3>Deleting Your Profile</h3>
        <p>If you wish to delete your profile, please click on the "Delete Profile" button provided. Upon clicking, your profile information will be permanently removed from our system.</p>
        <h3>Deployment Information</h3>
        <p>Please note that Transcendence is a school project and not intended for production. It is deployed solely for educational purposes.</p>
        <h3>Contact Us</h3>
        <p>If you have any questions about this Privacy Policy, please contact us via email at huaydin@student.42vienna.com</p>
    </div>
    
</body>

</html>
