<br/><br/><br/><div class="wrapperaboutus" > 
    <ul class="carouselaboutus">
        <li class="card"> 
            <div class="img bn"><img src=src/huaydin.jpg alt="huaydin" > </div>  
            <span>Hüseyin Aydin</span> <br/>
            <button style="font-size:24px;color:black"><i class="bi bi-github"></i></button>
            <button style="font-size:24px;color:black"><i class="bi bi-linkedin"></i></button>
        </li> 
        <li class="card"> 
            <div class="img bn"><img src= src/eelasam.jpg alt="eelasam" > </div>  
            <span>Ehab Elasam</span> <br/>
            <button style="font-size:24px;color:black"><i class="bi bi-github"></i></button>
            <button style="font-size:24px;color:black"><i class="bi bi-linkedin"></i></button>
        </li>
        <li class="card"> 
            <div class="img bn"><img src="src/vstockma.jpg" alt="vstockma" > </div>  
            <span>Valentin Stockmayer</span> <br/>
            <button style="font-size:24px;color:black"><i class="bi bi-github"></i></button>
            <button style="font-size:24px;color:black"><i class="bi bi-linkedin"></i></button>
        </li> 
        <li class="card"> 
            <div class="img bn"><img class="profile-button" src= "src/ddyankov.jpg" alt="ddyankov" > </div>  
            <span>Deyan Dyankov</span><br/>
            <button style="font-size:24px;color:black"><i class="bi bi-github"></i></button>
            <button style="font-size:24px;color:black"><i class="bi bi-linkedin"></i></button>
        </li>
    </ul> 
</div> 