<div class="chat-body">
    <div class="chat-container">
      <aside class="msger-users">
        <h2>Online Users</h2>
        <ul id="online-users"></ul>
      </aside>
      <div class="chat-main">
        <header class="msger-header">
          <div class="msger-inputarea">
            <input type="text" class="msger-input" placeholder="Enter your message..." id="message-input">
            <button class="msger-send-btn" id="send-btn">Send</button>
          </div>
        </header>
        <main class="msger-chat" id="msger-chat"></main>
      </div>
    </div>
  </div>