<style>
  .game-container2 {
    position: absolute;
    width: 90vw; /* Set width to 90% of viewport width */
    max-width: 600px; /* Set maximum width to 600px */
    height: 400px;
    background: #222;
    border: 5px solid #fff;
    left: 0;
    right: 0;
    margin: auto;
  }
  

  /* Remove positioning for paddles and ball */
  .paddle {
    width: 15px;
    height: 70px;
    background: #fff;
  }

  .ball2 {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 7.5px); /* Adjust position of ball2 to be vertically centered */
    left: calc(50% - 7.5px); /* Adjust position of ball2 to be horizontally centered */
  }


  /* Update positioning for ping-pong-table */
  .ping-pong-table {
    width: 100%;
    height: 400px;
    position: relative; /* Position ping pong table relative to the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ping-pong-ball {
    width: 3em;
    height: 3em;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 1.5em); /* Adjust position of ball to be vertically centered */
    left: calc(50% - 1.5em); /* Adjust position of ball to be horizontally centered */
    animation: bounce 0.40s infinite alternate;
  }


  /* Adjust paddle positioning */
  .paddle {
    position: absolute;
    background: #fff;
  }

  .paddle.left {
    top: calc(50% - 35px); /* Adjust position of left paddle */
    left: 10px;
  }

  .paddle.right {
    top: calc(50% - 35px); /* Adjust position of right paddle */
    right: 10px;
  }

  @keyframes bounce {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }
    100% {
      transform: translate(-50%, -50%) translateY(-100px);
    }
  }

</style>

<!-- HOME CONTENT HTML GOES HERE -->
<div class="grid">
  <div class="ping-pong-table">
    <div class="ping-pong-ball"></div>
    <h2 id="welcome">Welcome to the Pong Game!</h2>
  </div>
  <div class="game-container2">
    <div class="paddle" style="top: 50%; left: 10px;"></div>
    <div class="paddle" style="top: 50%; right: 10px;"></div>
    <div class="ball2" style="top: 50%; left: 50%;"></div>
  </div>
</div>
