<table style="border-collapse: collapse; width: 95%; height: 80%; max-height: calc(90vh - 100px);">
  <thead>
    <tr>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"></th>
      <th colspan="4" style="margin-bottom: 10px;"></th>
    </tr>
    <tr>
      <th colspan="8" style="text-align: right;">
        <button onclick="fetchLeaderboardData(); displayLeaderboard();" class="btn btn-primary" style="margin-right: 30px;">
          <span class="bi bi-arrow-clockwise"></span> Refresh
        </button>
      </th>
    </tr>
    <tr>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"><span id="rank">Rank</span></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"><span id="player">Nickname</span></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"><span id="kudos">Score</span></th>
      <th style="padding: 18px; text-align: left; margin-top: 10px; margin-bottom: 10px;"><span id="membersince">Member since</span></th>
      <th colspan="4" style="margin-bottom: 10px;"></th>
    </tr>
   
  </thead>
  <tbody id="leaderboard-body">
    <tr style="margin-top: 20px;">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
