<div class="container3d">
    
    
    <h1 id='scores3d'>0-0</h1>
    <div id='gameCanvas3d'></div>
    <div id='scoreboard3d'>
        
        
        
    </div>
    
    <div id="instructions3d">
        <h3>
             
            
            <button id="moveLeftButton" class="bn"><i class="bi bi-arrow-left"></i> Move Left &nbsp; </button>
<button id="moveRightButton" class="bn"><i class="bi bi-arrow-right"></i> Move Right</button>

        </h3>
        <h3 id='winnerBoard'> &nbsp; Reach 7 points to win!</h3>
    </div>
    
</div>
