<div class="container" style="font-family: Arial, sans-serif; text-align: center; width: 100%;">
      <hgroup>
        <br/>
        <h2><span id="privpol">Privacy Policy</span></h2>
      </hgroup>
      <p><span id="privpolline1">Your privacy is important to us. It is Transcendence's policy to respect your privacy regarding any information we may collect from you across our website.</span></p>
      <h3><span id="infocollect">Information We Collect</span></h3>
      <p><span id="infocollectline1">We only collect the personal information you provide to us. This may include:</span></p>
      <ul style="list-style: none; padding-left: 0;">
        <li style="text-align: center;"><span id="infocollectuser">• Username</span></li>
        <li style="text-align: center;"><span id="infocollectemail">• Email address</span></li>
        <li style="text-align: center;"><span id="infocollectphoto">• Profile photo</span></li>
      </ul>
      <h3><span id="deleting">Deleting Your Profile</span></h3>
      <p><span id="deletingline1">If you wish to delete your profile, please click on the "Delete Profile" button provided. Upon clicking, your profile information will be permanently removed from our system.</span></p>
      <h3><span id="deployinfo">Deployment Information</span></h3>
      <p><span id="deployinfoline1">Please note that Transcendence is a school project and not intended for production. It is deployed solely for educational purposes.</span></p>
      <h3><span id="contactus">Contact Us</span></h3>
      <p><span id="contactusline1">If you have any questions about this Privacy Policy, please contact us via email at </span><a href="mailto:quizapp.trivia@gmail.com" style="color: teal;">quizapp.trivia@gmail.com</a></p>
</div>
