<div class="profile-container">
  <div class="friends">
    <div class="category">Friends</div>
  </div>
  <div class="profile">
    <div class="category">Player Profile</div>
    <div id="avatar-preview">
      <img class="profile-pic" src="" width="250px" height="250px" alt="Profile Picture">
      <button id="changePhoto" class="profile-button">Change Photo</button>
      <input type="file" id="uploadPhoto" class="profile-input" style="display: none;" onchange="uploadPhoto(event)">
    </div>
    <div class="profile-info-section">
      <div class="info-header"><span id="nickname">Nickname</span>: <span id="nicknameadr">Loading...</span></div>
      <button id="changeNick" class="profile-button"><span id="changeNickname">Change Nickname</span></button>
      <div class="email-info-section">
        <div class="info-header"><span id="email">E-mail</span>: <span id="emailadr">Loading...</span></div>
      </div>
    </div>
    <div class="score-info-section">
      <div class="info-header"><span id="score">Score</span>: <span id="scoreadr"></span></div>
    </div>
    <br/>
    <div style="text-align: center;">
      <button id="deleteProfile" class="bn" style="width: calc(100% - 20px);">Delete Profile</button>
    </div>
  </div>
  <div class="achievments">
    <div class="category">Achievements</div>
  </div>
</div>
<!--

  <div class="email-info-section">
    <h2 class="info-header"><span id="email">E-mail</span>: <span id="emailadr">Loading...</span></h2>
  </div>
  <div class="score-info-section">
    <h2 class="info-header"><span id="score">Score</span>: <span id="scoreadr"></span></h2>
  </div>
  <br/>
  <div style="text-align: center;">
    <button id="deleteProfile" class="bn" style="width: calc(100% - 20px);">Delete Profile</button>
  </div>
</div> -->
