<div class="container">
    <div class="register-container text-center">
        <h2>Register</h2>
        <form id="register-form" onsubmit="handleRegister(event)">
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email address" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" required>
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" required>
                <div class="invalid-feedback" id="password-mismatch-feedback">Passwords do not match</div>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="register-status" id="register-status"></div>
        </form>
    </div>
</div>
