<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Return</title>
</head>
<body>
<script>
  const currentURL = window.location.href;
let backendURL = "";
const privateIPRegex = /^(10\.|192\.168\.|172\.(1[6-9]|2[0-9]|3[0-1])\.)/;
if (currentURL.includes("localhost") || currentURL.includes("127.0.0.1")) {
    backendURL = "http://localhost:8000";
} else if (privateIPRegex.test(currentURL)) {
    backendURL = "http://localhost:8000"; 
} else {
    backendURL = "https://pong42.azurewebsites.net"; 
}


document.addEventListener("DOMContentLoaded", async function() {
  const locationSearch = window.location.search;
  const params = new URLSearchParams(locationSearch);
  const code = params.get('code');

  if (code) {
    try {
      const response = await fetch(`${backendURL}/api/userinfo/?code=${code}`);
      if (!response.ok) {
        throw new Error('Failed to fetch user data');
      }
      const responseData = await response.json();
      const userData = responseData.user; 

      localStorage.setItem("isLoggedIn", true);
      localStorage.setItem("userNickname", userData.nickname);
      localStorage.setItem("userLogin", userData.login);
      localStorage.setItem("userImage", userData.image_link);
      localStorage.setItem("userScore", userData.score);
      localStorage.setItem("userEmail", userData.email);

      window.location.href = "/"; 
    } catch (error) {
      console.error("Error fetching user info:", error);

    }
  }
});
</script>
</body>
</html>
