<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Return</title>
</head>
<body>
<script>
document.addEventListener("DOMContentLoaded", async function() {
  const locationSearch = window.location.search;
  const params = new URLSearchParams(locationSearch);
  const code = params.get('code');

  if (code) {
    try {
      const response = await fetch(`${backendURL}/api/userinfo/?code=${code}`);
      if (!response.ok) {
        throw new Error('Failed to fetch user data');
      }
      const responseData = await response.json();
      const userData = responseData.user; 

      localStorage.setItem("isLoggedIn", true);
      localStorage.setItem("userNickname", userData.nickname);
      localStorage.setItem("userLogin", userData.login);
      localStorage.setItem("userImage", userData.image_link);
      localStorage.setItem("userScore", userData.score);
      localStorage.setItem("userEmail", userData.email);

      
    } catch (error) {
      console.error("Error fetching user info:", error);

    }
    window.location.href = "/"; 
  }
});
</script>
</body>
</html>
