<div class="rps">
    <div id="overlay" onclick="off()">
        <div id="overtext"></div>
        <div id="overtxt"></div>
    </div>
    <div class="rps-title">Rock Paper Scissors</div>
    <h1 style="font-size: 1.8vw;">FIRST TO 5 WINS</h1>
    <div class="rps-game">
        <div class="rps-player-block">
            <h1 class="playerh1">Player</h1>
            <div class="playerinfo">
                <div class="player-pic">
                    <img class="pic" src="../src/ddyankov.jpg" style="width: 100px; height: 100px; border-radius: 50%; ">
                </div>
                <div class="player-score">
                    <p class="rps-score" id="playerscore">Score: 0</p>
                </div>
            </div>
            <div class="selections">
                <button class="select" id="p-rock">👊🏻</button>
                <button class="select" id="p-paper">🖐🏻</button>
                <button class="select" id="p-scissors">✌🏻</button>
            </div>
        </div>
        <div class="rps-player-block">
            <h1 class="playerh1">Computer</h1>
            <div class="playerinfo">
                <div class="player-pic">
                    <img class="pic" src="../src/cpu.jpeg"  style="width: 100px; height: 100px; border-radius: 50%;">
                </div>
                <div class="player-score">
                    <p class="rps-score" id="computerscore">Score: 0</p>
                </div>
            </div>
            <div class="selections">
                <button class="select-cpu" id="c-rock">👊🏻</button>
                <button class="select-cpu" id="c-paper">🖐🏻</button>
                <button class="select-cpu" id="c-scissors">✌🏻</button>
                </div>
            </div>
        </div>
    </div>
</div>