.footer-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  background:  rgba(51, 51, 51, 0.8);
  color: #ffffff;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-link {
  color: #d2d2d2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #2980b9;
}

  
  .footer-text {
    flex: 1;
    text-align: center;
  }
  
  .heart-icon {
    color: #e74c3c;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    color: #ffffff;
    font-size: 1.5em;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #f39c12;
  }
  