<div class="page-container">
    <h1 id="tournaments-history">Tournaments History</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th id="gm">Name</th>
            <th id="res">Winner</th>
          </tr>
        </thead>
        <tbody id="leaderboard-body">
        </tbody>
      </table>
    </div>
    <div class="pagination-container">
      <span id='page'>Page</span>: <span id="pagination-container2"></span>
    </div>
</div>
<div id="tournament-details"></div>
