<div class="container">
  <h1>Welcome to the Chat</h1>
  <div id="nicknameInput" class="input-section">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" placeholder="Enter your nickname" oninput="toggleUpdateNicknameButton()">
    <button onclick="setNickname()" id="updateNicknameButton" style="display: none;">Update Nickname</button>
    <label id="statusNickname"></label>
  </div>
  <div id="channels" class="channel-section">
    <h2>Available Channels</h2>
    <select id="channelDropdown" aria-placeholder="Select a Channel"></select>
    <button onclick="joinChat()" id="joinChatButton" style="display: none;">Join Chat</button>
    <div id="createChannelForm" style="display: none;">
      <label for="newChannelName">New Channel Name: #</label>
      <input type="text" id="newChannelName" placeholder="Enter channel name">
      <label for="newChannelPassword">Channel Password (optional):</label>
      <input type="password" id="newChannelPassword" placeholder="Enter channel password">
      <button onclick="createNewChannel()">Create Channel</button>
    </div>
  </div>
</div>