<div class="chat-body">
  <div class="chat-container">
      <aside class="msger-users">
          <h2><span id="chatUsers">Users</span></h2><br/>
          
          <div id="recipient-actions"></div>
          <ul id="online-users-list"></ul> 
      </aside>

      <div class="chat-main">
          <div class="msger-inputarea">
              <input type="text" class="msger-input" placeholder="Enter your message..." id="message-input">
              <button class="msger-send-btn" id="msgSend">Send</button>
              <button class="msger-disconnect-btn" id="msgDisconnect">Disconnect</button>
          </div>
          <div id="notification"></div>
          <main class="msger-chat" id="msger-chat"></main>
      </div>
  </div>
</div>
