<div class="table-container">
  <table>
      <thead>
          <tr>
              <th><span id="rank">#</span></th>
              <th><span id="player">Nickname</span></th>
              <th><span id="kudos">Score</span></th>
              <th><span id="winningrate">Winning Rate</span></th>
              <th><span id="membersince">Member since</span></th>
          </tr>
      </thead>
      <tbody id="leaderboard-body">
      </tbody>
  </table>
  <div style="margin-left: 10%; margin-top: 1%; margin-left:9%; margin-bottom: 9%; position: relative;display: flex;visibility: visible;">
      <span id='page'>Page</span>: <span id="pagination-container"></span>
  </div>
  <a href="#tournaments" id="show-tournaments">Show Tournaments</a>
</div>
