<div class="table-container">
<table>
  <thead>
    
    <tr style="margin-left: 9%;">
      <th style="margin-left: 9%;"><span id="rank">#</span></th>
      <th style="margin-left: 9%;"><span id="player">Nickname</span></th>
      <th><span id="kudos">Score</span></th>
      <th><span id="winningrate">Winning Rate</span></th>
      <th><span id="membersince">Member since</span></th>

     
    </tr>
   
  </thead>
  <tbody id="leaderboard-body">
    
  </tbody>
  <tr>
    <td colspan="8">
      <div style="margin-left: 10%;margin-top: 1%; margin-left:9%; margin-bottom: 9%; position: relative;display: flex;visibility: visible;" ><span id='page'>Page</span>: <span id="pagination-container"></span></div>
    </td>
  </tr>
</table>
</div>
