<div class="login-form" style="margin-top: 3rem" id="container">
  <div class="wrapper" style="max-width: 350px; margin: 0 auto;">
    <div class="loader"></div>
  
    <button onclick="window.location.href = getBackendSigninURL()" id="signin-btn" class="rounded mb-4 bn" style="width: auto; min-width: 50%; max-width: 250px; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center;  color: #333333;">
      <span class="bn mr-2" style="font-size: 1.3em;">&#128100;</span>
      <span id="signInWith42" style="font-size: 1em;">Sign In with 42</span>
    </button>
    
    
    <div class="or-separator mb-4">
      <span class="or-text" id="or">or</span>
    </div>
    <div class="text-center mt-4 name" id="signIn" style="font-size: 1em;">Standard Login</div>
    <form id="login-form2" class="p-3 mt-3" onsubmit="return false;">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input
          type="text"
          name="username"
          id="userName"
          placeholder="Username"
          style="width: 90%; max-width: 220px;"
          required
        />
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input
          type="password"
          name="password"
          id="pwd"
          placeholder="Password"
          style="width: 90%; max-width: 220px;"
          required
        />
      </div>
      <div id="2fa-code-container" class="form-field d-flex align-items-center" style="display: none !important;">
        <span class="fas fa-lock"></span>
        <input
          type="text"
          name="two-factor-code"
          id="twoFactorCode"
          placeholder="2FA Code"
          style="width: 80%; max-width: 200px;"
        />
      </div>
      <button id="login" class="bn btn mt-3" style="width: 80%; max-width: 200px; margin: 0 auto;" >
        Login
      </button>
      
    </form>
    <br/><hr /><br/>
    <div class="text-center fs-6">
      <a href="/#register" onclick="route()" class="bn w-1600" id="registerHere">Register here</a><br/>
    </div>
    <br/><br/>
    <div id="login-status" class="text-center mt-3"></div>
  </div>
</div>
