<div class="container3d">
    <h1 id='scores3d'></h1>
    <div id='gameCanvas3d'></div>
    <div id='scoreboard3d'></div>
    
    <div id="instructionsModal" class="modal">
        <div class="modal-content">
            <span class="close"><span id="close">Use arrow keys or move your phone left/right to move the paddle</span></span>
      
        </div>
    </div>
    
    <div id="instructions3d">
        <h3>
            <button id="moveLeftButton" class="bn" style="color: #333333"><i class="bi bi-arrow-left"></i> Move Left</button>
            <button id="moveRightButton" class="bn" style="color: #333333"><i class="bi bi-arrow-right"></i> Move Right</button>
        </h3>
        <h3 id='winnerBoard'> &nbsp; Reach 7 points to win!</h3>
        <button id="startGameButton"  style="color: #93d31d79" class="bn startGameButton">Start Game</button>
    </div>
</div>