<div class="profile-container">
  <div class="friends">
      <div class="category" style="justify-content: left;" id="friendsTitle">Friends</div>
      <div class="friend-list">
       
      </div>
  </div>
  <div class="profile">
    <div class="category" id="playerProfileTtile">Player Profile</div>
    <div class="profile-info-section">
      <div id="avatar-preview">
        <img class="profile-pic" src="" width="250px" height="250px" alt="Profile Picture">
        <button id="changePhoto" class="profile-button">Change Photo</button>
        <input type="file" id="uploadPhoto" style="display: none;">
      </div>
      <div class="info-header"><span id="nickname">Nickname</span>: <span id="nicknameadr">Loading...</span></div>
      <button id="changeNick" class="profile-button"><span id="changeNickname">Change Nickname</span></button>
      <div class="email-info-section">
        <div class="info-header"><span id="email">E-mail</span>: <span id="emailadr">Loading...</span></div>
      </div>
      <div>
        <button id="enabledisable2fa" class="profile-button" onclick="window.location.href='/#manage2fa'">Enable/Disable 2FA</button>
      </div>
      <div>
        <button id="deleteProfile" class="bn" style="width: calc(100% - 20px);">Delete Profile</button>
      </div>
    </div>
  <div class="error-message" id="errorMessage"></div>

</div>

  <div class="achievments" style="align-items: center;">
    <div class="category" id="achievementsTitle">Achievements</div>
    <span id="totalgames">Total Games Played</span>: <div id="total-played">0</div>
    <span id="totalwins">Total Wins</span>: <div id="total-won"> 0</div>
    <span id="totalloses">Total Losses</span>: <div id="total-lost">0</div>
    <span id="WinningRatelbl">Winning Rate</span>: <div id="winning-rate">0</div>
  </div>

</div>