<div class="profile-container">
  <div class="friends">
      <div class="category">Friends</div>
      <div class="friend-list">
        <div class="friend">Friend 1</div>
        <div class="friend">Friend 2</div>
        <div class="friend">Friend 3</div>
        <div class="friend">Friend 4</div>
        <div class="friend">Friend 5</div>
        <div class="friend">Friend 6</div>
        <div class="friend">Friend 7</div>
        <div class="friend">Friend 8</div>
        <div class="friend">Friend 9</div>
        <div class="friend">Friend 10</div>
        <div class="friend">Friend 11</div>
        <div class="friend">Friend 12</div>
        <div class="friend">Friend 13</div>
        <div class="friend">Friend 14</div>
        <div class="friend">Friend 15</div>
        <div class="friend">Friend 16</div>
        <div class="friend">Friend 17</div>
        <div class="friend">Friend 18</div>
        <div class="friend">Friend 19</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>
        <div class="friend">Friend 20</div>


      </div>
  </div>
  <div class="profile">
    <div class="category">Player Profile</div>
    <div class="profile-info-section">
      <div id="avatar-preview">
        <img class="profile-pic" src="" width="250px" height="250px" alt="Profile Picture">
        <button id="changePhoto" class="profile-button">Change Photo</button>
        <input type="file" id="uploadPhoto" style="display: none;">
      </div>
      <div class="info-header"><span id="nickname">Nickname</span>: <span id="nicknameadr">Loading...</span></div>
      <button id="changeNick" class="profile-button"><span id="changeNickname">Change Nickname</span></button>
      <div class="email-info-section">
        <div class="info-header"><span id="email">E-mail</span>: <span id="emailadr">Loading...</span></div>
      </div>
      <div>
        <button id="toggle2FA" class="profile-button" onclick="window.location.href='/#manage2fa'">Enable/Disable 2FA</button>
      </div>
      <div>
        <button id="deleteProfile" class="bn" style="width: calc(100% - 20px);">Delete Profile</button>
      </div>
    </div>
  <div class="error-message" id="errorMessage"></div>

</div>

  <div class="achievments">
    <div class="category">Achievements</div>
    <div id="total-played">Total Games Played: 100</div>
    <div id="total-won">Total Wins: 70</div>
    <div id="total-lost">Total Losses: 25</div>
    <div id="total-draw">Total Draws: 5</div>
    <div id="total-pong">Pong Games Played: 50</div>
    <div id="pong-won">Pong Wins: 20</div>
    <div id="pong-lost">Pong Losses: 5</div>
    <div id="total-ttt">Tic Tac Toe Games Played: 25</div>
    <div id="ttt-won">Tic Tac Toe Wins: 25</div>
    <div id="ttt-draw">Tic Tac Toe Draws: 25</div>
    <div id="ttt-lost">Tic Tac Toe Losses: 25</div>
    <div id="total-rps">Rock Paper Scissors Games Played: 50</div>
    <div id="rps-won">Rock Paper Scissors Wins: 20</div>
    <div id="rps-lost">Rock Paper Scissors Losses: 5</div>
    <div id="favorite-game">Favorite Game: Pong</div>
  </div>

</div>