<div class="rps">
    <div id="overlay" onclick="off()">
        <div id="overtext"></div>
        <div id="overtxt"></div>
    </div>
    <div class="rps-title"><span id="rpsTitle">Rock Paper Scissors</span></div>
    <h1 style="font-size: 1.8vw;"><span id="reach7points">FIRST TO 7 WINS</span></h1>
    <div class="rps-game">
        <div class="rps-player-block">
            <h1 class="playerh1" id="player">Player</h1>
            <div class="playerinfo">
                <div class="player-pic">
                    <img class="pic" src="../src/emptyavatar.jpeg" style="width: 100px; height: 100px; border-radius: 50%; ">
                </div>
                <div class="player-score">
                    <span style="font-size: 30px;" id="score">Score</span>:<p class="rps-score" id="playerscore">0</p>
                </div>
            </div>
            <div class="selections">
                <button class="select" id="p-rock">👊🏻</button>
                <button class="select" id="p-paper">🖐🏻</button>
                <button class="select" id="p-scissors">✌🏻</button>
            </div>
        </div>
        <div class="rps-player-block">
            <h1 class="playerh1" id="computerOpponent">Computer</h1>
            <div class="playerinfo">
                <div class="player-pic">
                    <img class="pic" src="../src/cpu.jpeg"  style="width: 100px; height: 100px; border-radius: 50%;">
                </div>
                <div class="player-score">
                    <span style="font-size: 30px;" id="scorelbl">Score</span>:<p class="rps-score" id="computerscore">0</p>
                </div>
            </div>
            <div class="selections">
                <button class="select-cpu" id="c-rock">👊🏻</button>
                <button class="select-cpu" id="c-paper">🖐🏻</button>
                <button class="select-cpu" id="c-scissors">✌🏻</button>
                </div>
            </div>
        </div>
    </div>
</div>