<div class="viewprofile-container">
  <h1 class="viewprofile-title">
      <br/><span id="profile-title">Pong Master</span><br/> <span id="nicknameadr2"></span>  <div class="avatar-preview">
          <img class="profile-pic" src="" width="200px" height="200px" alt="Profile Picture" style="display: block; margin: 0 auto; max-width: 100%; height: 200px; border-radius: 10px;">
      </div>
  </h1>

  <!-- No change photo button needed for view profile -->

  <div class="view-info-section">
      <h2 class="view-info-header"><span id="nickname">Nickname</span>: <span id="nicknameadr">Loading...</span></h2>
      <!-- No change nickname button needed for view profile -->
  </div>

  <div class="view-info-section">
      <h2 class="view-info-header"><span id="score">Score</span>: <span id="scoreadr"></span></h2>
      <button id="viewScores" class="viewprofile-button">View recent scores</button>
    </div>

    <button id="addFriend" class="viewprofile-button">Add as friend</button>
  <br/>
  
  <!-- No delete profile button needed for view profile -->
</div>
