
{% load static %} <!-- Load the static tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'src/favicon.ico' %}" /> <!-- Use static tag for favicon -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>Pong42</title>
  <!-- Link to CSS files using static tag -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/App.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Chat.css' %}" />
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'css/AboutUs.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Home.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Leaderboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Profile.css' %}" />
  <link rel="stylesheet" href="{% static 'css/PongGame.css' %}" />
  <link rel="stylesheet" href="{% static 'css/PongEhab.css' %}" />
  <link rel="stylesheet" href="{% static 'css/PlayersRemote2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/playerai1.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pong3.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Register.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Navbar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/player3d1.css' %}" />
   <!-- Include Bootstrap CSS -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
   <!-- Include Bootstrap Icons CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{% static 'js/Login.js' %}"></script>
<script src="{% static 'js/Register.js' %}"></script>
<script src="{% static 'js/Chat.js' %}"></script>
<script src="{% static 'js/Profile.js' %}"></script>
<script src="{% static 'js/Leaderboard.js' %}"></script>
<script src="{% static 'js/Logout.js' %}"></script>
<script src="{% static 'js/AboutUs.js' %}"></script>
<script src="{% static 'js/pongehab.js' %}"></script>
<script src="{% static 'js/ponggame.js' %}"></script>
<script src="{% static 'js/player3d1.js' %}"></script>
<script src="{% static 'js/playerai1.js' %}"></script>
<script src="{% static 'js/playersremote2.js' %}"></script>
<script src="{% static 'js/selectgame.js' %}"></script>
<script src="{% static 'js/pong3.js' %}"></script>
<script src="{% static 'js/ViewProfile.js' %}"></script>
{% load static %}

</head>
<body>

  <header>
    <h1 class="logo" ><a onclick="route()" class="nav-item" href="/#">Pong42</a></h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul id="nav-menu">
        <li><a onclick="route()" href="/#" class="nav-item" id="hometitle">Home</a></li>
        <li><a onclick="route()" href="/#login" class="nav-item" id="logintitle">Login</a></li>
        
      </ul>
    </nav>
    
    
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>

    <div class="language-container">
      <select id="languageSelect" onchange="changeLanguage(this.value)">
        <option value="en">EN</option>
        <option value="at">DE/AT</option>
        <option value="tr">TR</option>
        <option value="bg">BG</option>
        <option value="eg">EG</option>
        <option value="fr">FR</option>
      </select>
    </div>
  </header>
  <script>
    window.addEventListener('beforeunload', function (e) {
      sessionStorage.setItem('isSubPageRefreshed', 'true');
    });

    window.addEventListener('load', function (e) {
      const isSubPageRefreshed = sessionStorage.getItem('isSubPageRefreshed');
      if (isSubPageRefreshed === 'true') {
        sessionStorage.removeItem('isSubPageRefreshed');
        const currentPath = window.location.pathname;
        if (currentPath !== '/') {
          window.location.href = '/';
        }
      }
    });
  </script>
    
  <footer class="footer-container">
    
    <div class="footer-links">
      <a onclick="route()" href="/#privacy-policy" class="footer-link" id="privacyPolicy">Privacy Policy</a>
      <a onclick="route()" href="/#contact" class="footer-link" id="impressum">Impressum</a>
      <a onclick="route()" href="/#aboutus" class="footer-link" id="impressum">About Us </a>
    </div>
  
   
  </footer>
  
  <main>
    <div class="app" id="app"></div>
  </main>
  
  
{% block scripts %}
<script>
    const STATIC_URL = "{% static '' %}";

  const routes = {
    '*': '{% static "views/home.html" %}',
    404: "{% static 'views/404.html' %}",
    "#": "{% static 'views/home.html' %}",
    "#home": "{% static 'views/home.html' %}",
    "#login": "{% static 'views/login.html' %}",
    "#register": "{% static 'views/register.html' %}",
    "#play!": "{% static 'views/selectgame.html' %}",
    "#chat": "{% static 'views/chat.html' %}",
    "#leaderboard": "{% static 'views/leaderboard.html' %}",
    "#profile": "{% static 'views/profile.html' %}",
    "#privacy-policy": "{% static 'views/privacy.html' %}",
    "#contact": "{% static 'views/contact.html' %}",
    "#return": "{% static 'views/return.html' %}",
    "#logout": "{% static 'views/logout.html' %}",
    "#pongehab": "{% static 'views/pongehab.html' %}",
    "#ponggame": "{% static 'views/ponggame.html' %}",
    "#player3d1": "{% static 'views/player3d1.html' %}",
    "#playerai1": "{% static 'views/playerai1.html' %}",
    "#playersremote2": "{% static 'views/playersremote2.html' %}",
    "#aboutus": "{% static 'views/aboutus.html' %}",
    "#pong3": "{% static 'views/pong3.html' %}",
    "#viewprofile": "{% static 'views/viewprofile.html' %}",
  };



let translationsCache = {}; 
let currentLanguage = '';

if (!currentLanguage) {
    currentLanguage = 'en';
}

function getBackendURL() {
  const currentURL = window.location.href;
  const privateIPRegex = /^(10\.|192\.168\.|172\.(1[6-9]|2[0-9]|3[0-1])\.)/;
  let backendURL = "";
  
  if (currentURL.includes("localhost") || currentURL.includes("127.0.0.1") || privateIPRegex.test(currentURL)) {
      backendURL = "https://localhost:8443/api";
  } else {
      backendURL = "https://pong42.azurewebsites.net";
  }
  
  return backendURL;
}

function getBackendSigninURL() {
  const currentURL = window.location.href;
  const privateIPRegex = /^(10\.|192\.168\.|172\.(1[6-9]|2[0-9]|3[0-1])\.)/;
  let backendSigninURL = "";
  
  if (currentURL.includes("localhost") || currentURL.includes("127.0.0.1") || privateIPRegex.test(currentURL)) {
      backendSigninURL = "https://localhost:8443/api/signin42c/";
  } else {
      backendSigninURL = "https://pong42.azurewebsites.net/api/signin42b/";
  }
  
  return backendSigninURL;
}


const apiUrl = `${getBackendURL()}/messages`;
const signinUrl = `${getBackendURL()}/signin42c/`;


console.log("Backend URL:", getBackendURL());

updateNavigation();

function changeLanguage(languageCode) {
  currentLanguage = languageCode; 
  translationsCache = {}; 
  translate(currentLanguage); 
}

async function fetchAndCacheTranslations(language) {
  try {
    const response = await fetch(`${STATIC_URL}translations/${language}.json`);
    const translations = await response.json();
    translationsCache[language] = translations;
  } catch (error) {
    console.error(`Error fetching translations for language '${language}':`, error);
  }
}


async function initialize() {
  updateNavigation();
  await fetchAndCacheTranslations(currentLanguage);
}


async function changeLanguage(languageCode) {
  currentLanguage = languageCode; 
  translationsCache = {}; 
  await fetchAndCacheTranslations(currentLanguage);
  translate(currentLanguage); 
}


function translateKey(key) {
  const lang = currentLanguage;

  return new Promise((resolve, reject) => {
    
    if (translationsCache[lang]) {
      const translations = translationsCache[lang];
  
      
      const keyParts = key.split('.');
  
      
      let translation = translations;
      for (const part of keyParts) {
        if (translation && translation[part]) {
          translation = translation[part];
        } else {
          
          reject(new Error(`Translation for key '${key}' not found`));
          return;
        }
      }
  
      
      resolve(translation);
    } else {
      
      reject(new Error(`Translations for language '${lang}' not found in the cache`));
    }
  });
}


initialize();



const handleLocation = async () => {
  let path = window.location.hash || '#'; 
  const questionMarkIndex = path.indexOf('?');
  if (questionMarkIndex !== -1) {
    path = path.slice(0, questionMarkIndex);
  }
  console.log("path:" + path);
  const route = routes[path] || routes[404];
  const html = await fetch(route).then((data) => data.text());
  document.getElementById("app").innerHTML = html;

  if (localStorage.getItem("isLoggedIn") === "true") {
    if (!leaderboardData || leaderboardData.length === 0) {
      await fetchLeaderboardData();
    }
  }
  
  switch(path) {
    case "#profile":
      if (localStorage.getItem("isLoggedIn") === "true") {
        fetchAndDisplayProfile();
      }
      break;
    
      case "#viewprofile":
    const hashParamsString = window.location.hash.substring(1);

    
    const paramsIndex = hashParamsString.indexOf('?');
    if (paramsIndex !== -1) {
        const paramsString = hashParamsString.substring(paramsIndex + 1);
        const hashParams = new URLSearchParams(paramsString);

        if (hashParams && hashParams.has('u')) {
            const username = hashParams.get('u');
            if (username) {
                await fetchAndDisplayViewProfile(username);
            } else {
                
            }
        } else {
            console.error("No 'u' parameter found in the URL.");
            
        }
    } else {
        console.error("No parameters found in the URL.");
        
    }
    break;


    
    case "#leaderboard":
      if (localStorage.getItem("isLoggedIn") === "true") {
        if (!leaderboardData || leaderboardData.length === 0) {
          await fetchLeaderboardData();          
        }
        displayLeaderboard();
      }
      break;
    case "#logout":
      logout();
      break;
    case "#chat":
      openChat();
      break;
    case "#pongehab":
      showPongEhab();
      break;
    case "#ponggame":
      showPongGamePage();
      break;
    case "#playersremote2":
      showPlayersRemote2();
        break;
    case "#playerai1":
      showPlayerAi1Page();
      break;
    case "#player3d1":
      showPlayer3d1Page();
      break;
    
      case "#aboutus":
      showAboutUsPage();
      break;
    case '#play!':
      showGameModes();
      break;
    case '#pong3':
      showPong3();
      break;
    default:
      break;
  }
};


handleLocation();


const navToggle = document.getElementById('nav-toggle');
const navMenu = document.querySelector('nav');

const toggleNavMenu = () => {
  if (navMenu.classList.contains('active')) {
    //navMenu.classList.remove('active'); 
    
} else {
    navMenu.classList.add('active'); 

}
};


navToggle.addEventListener('click', toggleNavMenu);


const route = (event) => {
    event = event || window.event;
    event.preventDefault();
    //navToggle.click();
    window.history.pushState({}, "", event.target.href);
    handleLocation();
};


window.onpopstate = () => {

    handleLocation();
    //navToggle.click();
    

};

function translate(lang) {
   fetch(`${STATIC_URL}translations/${lang}.json`)  
    .then(response => {
      if (!response.ok) {
        throw new Error('Failed to fetch translations');
      }
      return response.json();
    })
    .then(translations => {
      Object.keys(translations).forEach(category => {
        Object.keys(translations[category]).forEach(key => {
          const element = document.getElementById(key);
          if (element) {
            element.innerHTML = translations[category][key];
          }
        });
      });
    })
    .catch(error => console.error('Error fetching translations:', error));
}


translate(currentLanguage);


function updateNavigation() {
  let isLoggedIn = localStorage.getItem('isLoggedIn') === 'true';
  const jwtToken = localStorage.getItem('jwtToken');
  console.log ("jwtToken: " + jwtToken);
  let checkisLoggedIn = jwtToken !== null;
  if (!checkisLoggedIn) {
    localStorage.setItem('isLoggedIn', 'false');
    isLoggedIn = false;
}


  const navMenu = document.getElementById('nav-menu');
  if (navMenu)
    navMenu.innerHTML = ''; 
  //navMenu.style.display = 'block';



  const menuItems = isLoggedIn ?
    ['Play!', 'Chat', 'Leaderboard', 'Profile', 'Logout'] :
    ['Home', 'Login'];


  menuItems.forEach(item => {
const li = document.createElement('li');
const a = document.createElement('a');
a.classList.add('nav-item');
a.href = `/#${item.toLowerCase()}`;
a.id = `${item.toLowerCase()}title`;
a.textContent = item;

a.onclick = (event) => route(event, a.href); 
li.appendChild(a);
navMenu.appendChild(li);
});


}


window.addEventListener('load', () => {
  if (localStorage.getItem('isLoggedIn') === null) {
    localStorage.setItem('isLoggedIn', 'false');
  }
  updateNavigation();
});

window.route = route;

</script>
{% endblock %}
  </body

>
  </html>
