<div class="container" style="margin-top: 3rem; margin-left: 1rem; margin-right: 3rem; margin-bottom: 4rem;font-family: Arial, sans-serif; text-align: center;">
    <hgroup>
        <br/>
        <h2><span id="imprintTitle">Imprint</span></h2>
    </hgroup>
    <p><span id="imprintline1">This website is a project called "Transcendence" created for educational purposes.</span></p>
    <h3><span id="contactinfo">Contact Information</h3>
    <p><span id="contactinfo1">If you have any questions or concerns regarding this project, you can contact us via email at </span> <a href="mailto:quizapp.trivia@gmail.com" style="color: teal;">quizapp.trivia@gmail.com</a></p>
    <h3><span id="disclaimer">Disclaimer</span></h3>
    <p><span id="disclaimer1">This project is solely for coding learning and educational purposes. It is not intended for any commercial use or production deployment.</span></p>
</div>

