
#canvasp3 {
    background-color: #9c4c2d; 
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 70vw; 
    min-width: 20vw;
    max-height: 70vh; 
    min-height: 20vw;
    width: auto; 
    height: auto; 
    box-shadow: 0 0 15px rgba(0,0,0,0.5); 
}



#newGButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
}
