

.pong-game-over-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none; 
}

.pong-game-over-modal button {
    background-color: #555;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.pong-game-over-modal button:hover {
    background-color: #777;
}