{% load static %}

<div class="profile-container">
  <h1 class="profile-title">
    <br/><span id="profile-title">Pong Master</span><br/> <span id="nicknameadr2"></span>  
    <div class="avatar-preview">
      <img class="profile-pic" src="{% static 'images/default_profile_pic.jpg' %}" width="200px" height="200px" alt="Profile Picture" style="display: block; margin: 0 auto; max-width: 100%; height: 200px; border-radius: 10px;">
    </div>
  </h1>

  <!-- No change photo button needed for view profile -->

  <div class="profile-info-section">
    <h2 class="info-header"><span id="nickname">Nickname</span>: <span id="nicknameadr">Loading...</span></h2>
    <!-- No change nickname button needed for view profile -->
  </div>

  <div class="email-info-section" style="display: none;">
    <h2 class="info-header"><span id="email">E-mail</span>: <span id="emailadr">Loading...</span></h2>
  </div>

  <div class="score-info-section">
    <h2 class="info-header"><span id="score">Score</span>: <span id="scoreadr"></span></h2>
  </div>
  <br/>
  
  <!-- No delete profile button needed for view profile -->
</div>
